:root {
  font-family: 'Rubik', sans-serif;
  font-size: 10px;
  line-height: 1.1rem;
  font-weight: 400;

  --bgColor: #060E21;
  --borderColor: #343d4b;
  --textColor100: hsla(0, 0%, 86%, 1);

  background-color: var(--bgColor);
  color: var(--textColor100);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 960px;
  min-width: 400px;
  margin: 0 auto;
  padding: 4rem 2rem 0rem 2rem;
  position: relative;
  /* box-shadow: 0 0 30px hsla(320, 0%, 3%, .5); */
  background: var(--bgColor);
  border: 1px solid var(--borderColor);
  border-radius: 8px;
  display: flex;
		flex-direction: column;
		/* min-height: 100vh; */
}

@media (max-width:600px) {
  #app {
      border: none;
      padding: 6rem 2rem 4rem 2rem;
  }
  body {
    place-items: start;
  }
}



